<a href="https://colab.research.google.com/github/Maxrgrz/University/blob/main/Extra_tasks/%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%20%E2%84%962.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [ ]:
def cube_numbers(numbers_list):
    return list(map(lambda x: int(x) ** 3, numbers_list))

numbers = ['1', '2', '3', '4', '5']
cubed_numbers = cube_numbers(numbers)
print(cubed_numbers)

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [ ]:
words = ['level', 'python', 'radar', 'world', 'rotor']
filtered_words = filter(lambda word : word[0] == word[-1], words)
print(list(filtered_words))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [ ]:
from functools import reduce

def max_number(numbers):

 return reduce(lambda x, y: x if x > y else y, numbers)

numbers = [47, 11, 42, 102, 13]

max_number = max_number(numbers)
print(max_number)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

utlist1 = map(lambda x : x ** 2, list1)
utlist2 = map(lambda y : y ** 3, list2)

zippers = zip(utlist1, utlist2)

print(list(zippers))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [ ]:
from functools import reduce

def sum_even_numbers(numbers_string):
    numbers = numbers_string.split(',')
    numbers = list(map(int, numbers))
    even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
    return reduce(lambda x, y: x + y, even_numbers)

numbers = '1,2,3,4,5,6,7,8,9,10'
result = sum_even_numbers(numbers)
print(result)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобразуйте список температур в градусах Цельсия в список температур в градусах Фаренгейта. Формула преобразования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [ ]:
celsius = [0, 15, 30, 100]
def celsius_to_fahrenheit(celsius):
 return (celsius * 9 / 5) + 32

celsius = [0, 15, 30, 100]
fahrenheit = list(map(lambda x: celsius_to_fahrenheit(x), celsius))
print(fahrenheit)

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [ ]:
def square_odd_numbers(numbers):
    return list(map(lambda x: x ** 2, filter(lambda x: x % 2 != 0, numbers)))

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
squared_odd_numbers = square_odd_numbers(numbers)
print(squared_odd_numbers)

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [ ]:
from functools import reduce

def product_of_numbers(numbers):
 return reduce(lambda x, y: x * y, numbers)

numbers = [1, 2, 3, 4, 5]
result = product_of_numbers(numbers)
print(result)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобрауйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [ ]:
strings = ['10', '20', 'abc', '30', 'def']

result = map(lambda x : int(x.replace(x, '0', 1)) if x.isdigit() == False else int(x), strings)

print(list(result))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [ ]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]
result = zip(x_coords, y_coords)

print(list(result))

[(1, 4), (2, 5), (3, 6)]


---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [ ]:
def word_lengths(words):
    return dict(map(lambda x: (x, len(x)), words))

words = ['apple', 'banana', 'cherry']
result = word_lengths(words)
print(result)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [ ]:
def is_prime(number):
    if number > 1:
        for i in range(2, int(number ** 0.5) + 1):
            if number % i == 0:
                return False
        return True
    else:
        return False

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(lambda x: is_prime(x), numbers))
print(result)

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

sum_lists = map(lambda x, y, z : x + y + z, list1, list2, list3)

print(list(sum_lists))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
' '  # пробел встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [4]:
import collections

from functools import reduce

text = 'Functional programming with lambda functions'
text = text.lower()
text = list(text)

qez = dict(collections.Counter(text))
new = reduce(lambda x,y: max(x,y), qez.values())
for i in qez:
  if qez[i] == new:
    print(i)

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [ ]:
from functools import reduce

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

glasnie = list(map(lambda x : list(map(lambda y : y if y in ['a', 'e', 'i', 'o', 'u', 'y'] else None, x)) , words))
glasnie = list(reduce(lambda x, y: x + y, glasnie))

result = list(reduce(lambda x, y: x + y, words))
result = list(filter(lambda x : x if x in glasnie else None, result))

print(len(result))

13

---